@charset "utf-8";
/* CSS Document */

body{
	background-color:#99C;
}

header, footer{
	background-color:#977;
}

header h1, footer p{
	text-align:center;
}

#content{
	background-color:#99CCCC;
	height:900px;
	}

canvas{
	display:block;
	margin: auto;
	text-align:center;
}

/**#mycanvas{
	border: none; 
	width:600px;
	height:300px;
}**/


	
