@charset "utf-8";
/* CSS Document */

body{
	background-color:#99C;
}

header, footer{
	background-color:#977;
}

header h1, footer p{
	text-align:center;
}

canvas{
	display:block;
	margin: auto;
	text-align:center;
}

#content{
	display:block;
	background-color:#99CCCC;
	height:auto;
	width:800px;
	margin: auto;
}

#display_box{
	display:block;
	background:tan;
	border:thin solid black;
	height: 500px;
	width:800px;
	margin:auto;
}

#io_box{
	/*background:blue;*/
	width:400px;
	display:block;
	float:left;
}

#io_head_left{
	width:400px;
}


#display_check{
	display:block;
	float:right;
}

#mycanvas{
	border: none;
	float:left;
	/*background:pink;*/
}

#settings_box{
	display:block;
	float:left;
	width: 400px;
	height: 150px;
	/*padding: auto;
	margin:30px auto;
	background:aqua;*/
}

#input_box{
	width: 380px;
	margin:0 0 0 auto;
	border:thin solid black;
	text-align:center;
}

#data_box{
	display:block;
	width: 300px;
}

.slider{
	width:300px;
	margin:auto;
	display:block;
}

#graph_box{
	/*background:green;*/
	height:450px;
	width: 400px;
	float:right;
}

.graph_box{
	background:green;
	height:150px;
	width: 400px;
	float:right;
}

.box_left{
	background:pink;
	width:20px;
	float:left;
	height: 150px;
}

.box_bottom{
	background:aqua;
	text-align:center;
	height:20px;
	width:380px;
	float:left;
}

.box_bottom p{
	display:block;
	margin:auto;
}
.graph{
	width:380px;
	height:130px;
	float:right;
}

.hidden{
	display:none;
}
